.footer {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: -70px;
}

.content {
  text-align: center;
  font-size: 19px;
}

.separator {
  margin: 0 8px;
}

.copyright {
  font-size: 12px;
  margin-top: 10px;
}
